page-list {

}
.btnmenu{
    color: white;
}
.contenidolist{
    background-image: url('../../assets/imgs/matenimiento.jpg') !important;
    background-size: 100% 100%;
    background-attachment: fixed;

}
