page-rock {

}
.toolbar-background {
    background-color: rgba(33, 33, 33, 0.871);
    color: white;
  }

.namecancion1{
    width: 60%;
   
    float: left;
    text-align: center;
   clear: both;
}
.contenido{
  background-image:url("../../assets/imgs/FondoMetal1.jpg");
  color: white;
}

.musicas{
  background-color: #1a19197b;
  color: white;
}

