.cabecera{
    font-style: white;
}



.contentinicio{
   
    height: 90%;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.btnejm{
    background-image: url("../../assets/imgs/rock.jpg");
    background-size:100% 100%;
    height: 20%;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: white;
    //background-attachment:fixed;
}
.btnejm1{
    background-image: url("../../assets/imgs/pop.jpg");
    background-size:100% 100%;
    height: 20%;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: white;
    //background-attachment:fixed;
}
.btnejm2{
    background-image: url("../../assets/imgs/jazz.jpg");
    background-size:100% 100%;
    height: 20%;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: white;
    //background-attachment:fixed;
}
.btnejm3{
    background-image: url("../../assets/imgs/electronica.jpg");
    background-size:100% 100%;
    height: 20%;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    color: white;
    //background-attachment:fixed;
}
@media (min-width: 640px) {
   
        .slideone
    {
        background-image: url("../../assets/imgs/evanescence.jpg");
        background-size:100% 100%;
        height: 100%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
        
    }
    .slidetwo{
        background-image: url("../../assets/imgs/nickelback.jpg");
        background-size:100% 100%;
        height: 100%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
    }
    .slidethree{
        background-image: url("../../assets/imgs/maroon5.jpg");
        background-size:100% 100%;
        height: 100%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
    }
    .slidefour{
        background-image: url("../../assets/imgs/marilynmanson.jpg");
        background-size:100% 100%;
        height: 100%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
    }
    .slidefive{
        background-image: url("../../assets/imgs/oneokrock.jpg");
        background-size:100% 100%;
        height: 100%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
    }
    .slidesix{
        background-image: url("../../assets/imgs/onerepublic.jpg");
        background-size:100% 100%;
        height: 100%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
    }
  }

  @media (max-width: 360px) {
        .slideone
    {
        background-image: url("../../assets/imgs/evanescence.jpg");
        background-size:100% 100%;
        height: 50%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
        
    }
    .slidetwo{
        background-image: url("../../assets/imgs/nickelback.jpg");
        background-size:100% 100%;
        height: 50%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
    }
    .slidethree{
        background-image: url("../../assets/imgs/maroon5.jpg");
        background-size:100% 100%;
        height: 50%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
    }
    .slidefour{
        background-image: url("../../assets/imgs/marilynmanson.jpg");
        background-size:100% 100%;
        height: 50%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
    }
    .slidefive{
        background-image: url("../../assets/imgs/oneokrock.jpg");
        background-size:100% 100%;
        height: 50%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
    }
    .slidesix{
        background-image: url("../../assets/imgs/onerepublic.jpg");
        background-size:100% 100%;
        height: 50%;
        width: 50%;
        padding: 1em;
        margin: auto;
        text-align: center;
    }
}




ion-title {
    color:white;
}

.toolbar-background {
    background-color: rgba(33, 33, 33, 0.871);
    color: white;
  }

.btnmenu{
      color: white;
  }
.contenido{
    background-image:url("../../assets/imgs/FondoMetal1.jpg");
    color: white;
}

#btnlogin{
    float: left;
}
.slider{
    width: 90%;
    height: 70%;
    margin: auto;      
}
.contentimg{
   
    height: 80%;
    width: 100%;
    
}
.contentimg img{
    padding: 10%; 
}