page-detail-album {

}
.btnmenu{
    color: white;
}
.btnejm{
    background-image: url("../../assets/imgs/luisfonsift.jpg");
    background-size:100% 100%;
    height: 50%;
    width: 100%;
    text-align: center;
    //background-attachment:fixed;
}

.contenidodet{
    background-image: url('../../assets/imgs/matenimiento.jpg') !important;
    background-size: 100% 100%;
    background-attachment: fixed;
}