page-login-usuario {

}
.titleReg h1{
    text-align: center;
    font-family: 'Bodoni MT Black';
}
fieldset{
    border-radius: 1em;
}
button{
   text-align: right;
}
.contenido{
    background-color: rgba(33, 33, 33, 0.871);
    color: white;
}
.btnmenu{
    color: white;
}
