<ion-header class="cabecera" >
  <ion-navbar>
    <button ion-button menuToggle class="btnmenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="red" >Bienvenido</ion-title>   
      <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->      
  </ion-navbar>
</ion-header>

<ion-content class="contenido" padding>
    
  
    <h1>Welcome to the Jungle</h1>
    <div class="slider">
    <ion-slides>
      <ion-slide class="slideone">
        <!--<div class="contentimg">
            <img src="../../assets/imgs/evanescence.jpg" >
        </div> -->      
      </ion-slide>
      <ion-slide class="slidetwo">
          <!--<img src="../../assets/imgs/nickelback.jpg" >-->
      </ion-slide>
      <ion-slide class="slidethree">
          <!--<img src="../../assets/imgs/maroon5.jpg">-->
      </ion-slide>
      <ion-slide class="slidefour">
        <!--<img src="../../assets/imgs/marilynmanson.jpg">-->
      </ion-slide>
      <ion-slide class="slidefive">
         <!-- <img src="../../assets/imgs/oneokrock.jpg">-->
      </ion-slide>
      <ion-slide class="slidesix">
          <!--<img src="../../assets/imgs/onerepublic.jpg">-->
      </ion-slide>
    </ion-slides>
    </div>

    
   <!--<div class="contentinicio">
      <h2>GENEROS</h2>
      <button class="btnejm" (click)="navegarPagina()">ROCK</button>  
     <button class="btnejm1" >POP</button>
      <button class="btnejm2" >JAZZ</button>
      <button class="btnejm3" >ELECTRONICA</button>   
    </div> --> 

    <!--<button ion-button secondary (click)="pasarSiguienteSlider()">next</button>-->
    <img class="imgload" *ngIf="albunesNode==undefined" src="../../assets/imgs/original.gif" >
    <div *ngIf="albunesNode!=undefined">
      <ion-list *ngIf="valor.length>0">
          <ion-item  *ngFor="let item of items">
          {{ item }}
          </ion-item>
      </ion-list>

      <ion-list >
        <h1>Albums</h1>
        <ion-item class="itemAlbum"  *ngFor="let album of albunesNode">
          <div class="contalb">
              <img (click)="navegarPagina(album.urlAlbum)" [src]="album.urlImagen" >
          </div> 
          <div class="contalb">
              {{album.nombreAlbum}}    
          </div>                    
                  
        </ion-item>
    </ion-list> 
  </div>
</ion-content>
