page-registro-usuario {
    background-color: #123232;
}

.titleReg h1{
    text-align: center;
    font-family: 'Bodoni MT Black';
}
fieldset{
    border-radius: 1em;
}
button{
   text-align: right;
}
.btnmenu{
    color: white;
}